<footer>
  <a href="https://www.newclikindia.co.in">
    <img src="./images/CLIK.png" alt="CLIK" class="logo" />
  </a>
  <div class="cu">
    <h3>Contact Us</h3>
    <p>
      <b>Office:</b> No.21, 3rd Floor, Ramachandra Arcade, 2nd Cross, MSR
      Engineering College Rd, Mathikere Extension, Mathikere, Bengaluru,
      Karnataka 560054 Phone: +91 80 42061421 Fax: +91 80 23601850 Email:
      clik@clikindia.co.in
    </p>
    <p><b>Fax:</b> +91 80 23601850</p>
    <p><b>Email:</b> clik@clikindia.co.in</p>
  </div>
  <div class="ql">
    <h3>Quick Links</h3>
    <a href="https://www.newclikindia.co.in/services">Services</a>
    <a href="https://www.newclikindia.co.in/community">Forum</a>
    <a href="https://www.newclikindia.co.in/ec-team-details">About Us</a>
    <a href="https://www.newclikindia.co.in/contact-us">Contact Us</a>
  </div>
  <div class="fu">
    <h3>Follow Us</h3>
    <div class="socials">
      <a href="#"><img src="./images/facebook.svg" alt="fb" /></a>
      <a href="#"><img src="./images/youtube.svg" alt="fb" /></a>
      <a href="#"><img src="./images/twitter.svg" alt="fb" /></a>
      <a href="#"><img src="./images/linkedin.svg" alt="fb" /></a>
    </div>
  </div>
</footer>
