<link
href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
rel="stylesheet"
/>
<div class="side">
  <button class="close-side">
    <img src="./images/close.svg" alt="close" class="close-svg" /> CLOSE MENU
  </button>
  <div class="side-links">
    <a href="https://www.newclikindia.co.in">Home</a>
    <a href="https://www.newclikindia.co.in/services">Services</a>
    <a href="https://www.newclikindia.co.in/community">Forum</a>
    <a href="https://www.newclikindia.co.in/members">Members</a>
    <a href="https://www.newclikindia.co.in/about-us">About Us</a>
    <a href="https://www.newclikindia.co.in/contact-us">Contact Us</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
</div>
<header>
  <a href="https://www.newclikindia.co.in">
    <img src="./images/CLIK.png" alt="CLIK" class="logo" />
  </a>
  <div class="navstuff">
    <a href="https://www.newclikindia.co.in">Home</a>
    <a href="https://www.newclikindia.co.in/services">Services</a>
    <a href="https://www.newclikindia.co.in/community">Forum</a>
    <a href="https://www.newclikindia.co.in/members">Members</a>
    <a href="https://www.newclikindia.co.in/ec-team-details">About Us</a>
    <a href="https://www.newclikindia.co.in/contact-us">Contact Us</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
  <img src="./images/open-menu.svg" alt="menu" class="ham" />
</header>
