<div class="side">
  <button class="close-side">
    <img src="./images/close.svg" alt="close" class="close-svg" /> CLOSE MENU
  </button>
  <div class="side-links">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">Forum</a>
    <a href="#">Members</a>
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
</div>
<header>
  <img src="./images/CLIK.png" alt="CLIK" class="logo" />
  <div class="navstuff">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">Forum</a>
    <a href="#">Members</a>
    <a href="#">Contact Us</a>
    <a href="#">About Us</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
  <img src="./images/open-menu.svg" alt="menu" class="ham" />
</header>
