.side-header {
  background-color: var(--violet);
  width: 15vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 0;
  color: var(--white);
  font-family: "Oxygen", sans-serif;
}
.header-title {
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: 22px;
  margin-top: 50px;
}
.header-opt {
  display: flex;
  opacity: 0.75;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 30vh;
  row-gap: 50px;
}
.header-opt .option {
  cursor: pointer;
}
.header-footer {
  font-size: 10px;
  color: #f9f9fa;
  opacity: 0.8;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10vw;
  padding-top: 7vh;
}
.content {
  margin-left: 20vw;
  margin-bottom: 100px;
}
.title {
  font-size: 48px;
  color: var(--violet);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.flex-container-main {
  display: flex;
  justify-content: space-between;
  margin: 6vh 0vw;
}

.first-header {
  display: flex;
  align-items: center;
  padding-left: 0vw;
}

.patch {
  background-color: var(--light-violet);
  width: 15px;
  border-radius: 10px;
  padding: 18px 0px;
  display: inline-block;
}
.subtitle {
  display: inline-block;
  padding-left: 20px;
  color: var(--violet);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.edit-btn {
  color: var(--violet);
  background-color: var(--light-violet);
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 700;
}

.add-btn {
  background-color: var(--violet);
  color: var(--white);
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-left: 1vw;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.last-header {
  display: flex;
  align-items: center;
  padding-right: 10vw;
}

.small-title {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 175px;
  grid-template-rows: 1fr;
  color: rgba(22, 26, 30, 0.5);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 1vw;
  width: 70vw;
  column-gap: 20px;
}
.small-title .one,
.firm-row .one {
  justify-self: flex-start;
}
.small-title .three,
.firm-row .three {
  justify-self: center;
}
.small-title .two,
.firm-row .two {
  justify-self: center;
}

.firm-row {
  display: grid;
  width: 70vw;
  grid-template-columns: 1.2fr 1fr 1fr 175px;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 20px;
  font-weight: 300;
  padding: 3.5vh 0;
  opacity: 0.9;
  border-bottom: 1px solid rgba(22, 26, 30, 0.2);
  text-align: center;
  column-gap: 20px;
}
.firm-row:last-child {
  border-bottom: none;
}

.one {
  grid-area: 1 / 1 / 1 / 2;
}
/* .two { grid-area: 1 / 1 / 2 / 4;;} */
.new-entry {
  background-color: #444788;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  color: white;
  outline: none;
  cursor: pointer;
}
.new-entry-modal-cont {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  justify-content: center;
  align-items: center;

  display: none;
}
.new-entry-modal {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px 120px;
  position: relative;
}
.new-entry-cross {
  position: absolute;
  right: 30px;
  top: 23px;
  font-size: 20px;
  cursor: pointer;
}
.new-entry-heading {
  margin: 0px;
  text-align: center;
  margin-bottom: 30px;
  color: var(--violet);
}
.new-entry-form {
  width: 400px;
  margin: auto;
  display: grid;
  /* justify-content: center; */
}
/* .new-entry-form input[type="text"],
.new-entry-form input[type="email"],
.new-entry-form input[type="password"],
textarea {
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  border: 1px solid black;
} */
.new-entry-submit {
  width: 200px;
  justify-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #444788;
  border-radius: 7px;
  margin-top: 20px;
  padding: 10px;
}
.footer-container {
  margin-left: calc(11vw);
}
.header-container {
  display: none;
}
.slug-feed {
  font-size: 12px;
  color: red;
  margin-left: 8%;
  display: none;
}
textarea {
  resize: none;
}
.vpnd {
  display: flex;
  align-items: center;
}
.viewp {
  margin-left: 20px;
  font-size: 12px;
  color: #444788;
  width: 150px;
  cursor: pointer;
}
.delete-member {
  height: 0.8em;
  margin-left: 20px;
  cursor: pointer;
}
.big-logo img {
  height: 150%;
  cursor: pointer;
  transform: translateY(-20%);
}
@media only screen and (max-width: 1000px) {
  .side-header {
    display: none;
  }
  .header-container {
    display: block;
  }
  .content {
    margin-left: 5vw;
  }
  .big-logo {
    display: none;
  }
  .title {
    font-size: 30px;
  }
  .footer-container {
    margin-left: unset;
  }
  .small-title,
  .firm-row {
    width: 90vw;
    grid-template-columns: 1.5fr 1fr 1fr 120px;
    font-size: 16px;
    overflow-x: scroll;
    column-gap: 20px;
  }
  .small-title {
    grid-template-columns: 1.5fr 1fr 1fr;
  }
  .edit-btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  .add-btn {
    padding: 10px 20px;
    width: auto;
  }
  .last-header {
    padding-right: 5vw;
  }
  .title-bar {
    padding-top: 30px;
    font-size: 18px;
  }
  .flex-container-main {
    margin: 40px 0px;
  }
  .new-entry-form {
    width: auto !important;
  }
}
@media only screen and (max-width: 600px) {
  .new-entry-modal {
    box-sizing: border-box;
    width: 90vw;
    margin: auto;
    padding: 20px 20px;
  }
}
