.container {
  width: 80%;
  margin: auto;
}
.renbutt {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}
.new-entry {
  background-color: #444788;
  border: none;
  border-radius: 3px;
  padding: 10px 25px;
  color: white;
  outline: none;
  cursor: pointer;
}
.dash-row {
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.2fr;
  justify-items: center;
  align-items: center;
}
.dash-first-row {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1fr 0.2fr;
  padding: 10px 0px;
  /* opacity: 0.5; */
  color: rgba(0, 0, 0, 0.358);
  border-bottom: 1px solid black;
  font-size: 15px;
}
.dash-row {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.358);
  padding: 20px;
  margin: 20px 0px;
  font-weight: 500;
}
.dash-edit {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.dash-edit-img {
  height: 1em;
}
.new-entry-modal-cont {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  justify-content: center;
  align-items: center;
  display: none;
}
.new-entry-modal {
  width: 400px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  position: relative;
}
.new-entry-cross {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
}
.new-entry-heading {
  margin: 0px;
  text-align: center;
  margin-bottom: 30px;
}
.new-entry-form input[type="text"] {
  padding: 10px;
  margin: 5px auto;
  width: 80%;
}
.new-entry-submit {
  width: 200px;
  justify-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #444788;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .dash-first-row {
    font-size: 13px;
  }
  .recent {
    font-size: 20px;
  }
  .dash-row {
    /* grid-template-columns: 1.5fr 1fr 0.8fr 0.3fr; */
    padding: 10px 5px;
  }
}
