:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-heading {
  margin-bottom: 50px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}
.info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info a {
  text-decoration: none;
}
.info-icons {
  height: 1.3em;
  margin-right: 20px;
  margin-top: 7px;
  /* align-self: center; */
}
.info-text-1 {
  padding: 10px 50px;
}
.namenicon {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
}
.info-name {
  margin-top: 0px;
}
.pin-icon {
  display: inline-block;
  height: 1.2em;
  margin-right: 10px;
}
.location {
  display: inline-block;
  margin: 0px;
}
.info-actual-text {
  margin-top: 20px;
}
.info-img {
  position: relative;
}
.show-upload {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  align-content: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  font-size: 23px;
  display: none;
}
.show-upload img {
  height: 30px;
  width: auto;
  margin: auto;
}
.edit-inps {
  display: flex;
  justify-content: space-between;
}
.edit-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  width: 50px;
  margin-bottom: 30px;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}
.edit-inp {
  height: 40px;
  padding: 0px 10px;
  margin-right: 20px;
}
.inp-tags {
  display: none;
}
.editnfeed {
  display: flex;
}
.edit-feed {
  margin-left: 20px;
  height: 40px;
  display: grid;
  border: 1px solid green;
  border-radius: 3px;
  align-items: center;
  padding: 0px 20px;
  color: green;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .info {
    grid-template-columns: 1fr;
    display: block;
  }
  .info-text-1 {
    padding: 0px;
  }
  .info-img img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    /* height: 400px; */
  }
  .main-heading {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .info-img {
    display: grid;
    justify-content: center;
  }
  .show-upload img {
    height: 30px;
    width: auto;
    margin: auto;
  }
  .inp-tags {
    flex-direction: column;
    margin-bottom: 20px;
    row-gap: 10px;
  }
  .edit-button {
    height: 25px;
  }
}
