body {
  background: #f6f6f9;
}
.back-img-cont {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 7vw;
  justify-content: flex-start;
  /* align-items: center; */
  /* background: url("./images/background.jpg"); */
  background-position: center;
  background-size: cover;
  /* height: 150px; */
  color: var(--violet);
  font-size: 25px;
}
.back-img-heading {
  /* font-weight: 1600; */
  /* margin-bottom: 0px; */
}
.underline {
  height: 10px;
  width: 10em;
  border-radius: 5px;

  background: linear-gradient(270deg, #f6f6f9 0%, rgba(255, 255, 255, 0) 137.7%),
    #354067;
}
.link-divs {
  text-decoration: none;
  color: unset;
}
.members {
  padding: 40px 7vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 20px;
}
.member {
  text-align: center;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  height: 335px;
  /* transform: translate(5px); */
  transition-duration: 0.3s !important;
  animation: fade-up 0.5s forwards;
}
.w {
  display: none;
}
.member:hover {
  transition: 0.3s !important;
  background-color: var(--violet);
  color: white;
  box-shadow: 10px 10px 24px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px) !important;
}
.member:hover .member-vp {
  color: white;
}
.member:hover .w {
  display: inline;
}
.member:hover .b {
  display: none;
}
.member-info {
  padding: 15px 15px;
}
.member-img {
  width: 100%;
  height: 75px;
  object-fit: contain;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.member-heading {
  margin: 5px 0px;
  font-size: 27px;
}
.heading-small {
  font-size: 20px;
}
.member-loc {
  font-size: 12px;
  margin: 10px 0px;
  opacity: 0.5;
}

.member-desc {
  font-weight: 300;
  padding-top: 10px;
  font-size: 12px;
}
.pin {
  height: 0.8em;
}
.member-buttons {
  position: absolute;
  bottom: 20px;
  vertical-align: center;
  width: 90%;
  left: 5%;
}
.member-vp {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--violet);
  margin-right: 10px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.member-cu {
  font-size: 13px;
  background: transparent;
  border: 1px solid var(--violet);
  cursor: pointer;
  outline: none;
  padding: 7px 20px;
  border-radius: 3px;
  color: var(--violet);
  background-color: white;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 1230px) {
  .members {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1100px) {
  .member-buttons {
    /* position: relative; */
    padding-top: 20px;
    padding-bottom: 20px;
    bottom: 0px;
  }
  .back-img-cont {
    height: 100px;
    font-size: 25px;
  }
  /* .members {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  } */
}
@media only screen and (max-width: 920px) {
  .members {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 740px) {
  .back-img-cont {
    height: 100px;
    font-size: 22px;
    padding-left: 5vw;
    /* align-items: center; */
  }
  .members {
    grid-template-columns: 1fr;
    padding: 10px 5vw;
  }
  .member {
  }
}
