body {
  background: #f6f6f9;
}
.back-img-cont {
  display: grid;
  justify-content: center;
  align-items: center;
  background: url("./images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
  color: white;
  font-size: 35px;
}
.link-divs {
  text-decoration: none;
  color: unset;
}
.members {
  padding: 50px 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
}
.member {
  text-align: center;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  height: 500px;
  transition: 0.1s;
}
.w {
  display: none;
}
.member:hover {
  background-color: var(--violet);
  color: white;
  box-shadow: 10px 10px 24px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-10px);
}
.member:hover .member-vp {
  color: white;
}
.member:hover .w {
  display: inline;
}
.member:hover .b {
  display: none;
}
.member-info {
  padding: 15px 20px;
}
.member-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.member-heading {
  margin: 5px 0px;
  font-size: 27px;
}
.member-loc {
  font-size: 14px;
  margin: 20px 0px;
}
.member-desc {
  font-size: 16px;
}
.pin {
  height: 1em;
}
.member-buttons {
  margin: 30px 0px;
}
.member-vp {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: underline;
  color: var(--violet);
  margin-right: 20px;
  font-size: 17px;
}
.member-cu {
  font-size: 17px;
  background: transparent;
  border: 1px solid var(--violet);
  cursor: pointer;
  outline: none;
  padding: 7px 25px;
  border-radius: 3px;
  color: var(--violet);
  background-color: white;
}

@media only screen and (max-width: 1100px) {
  .back-img-cont {
    height: 200px;
    font-size: 30px;
  }
  .members {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}
@media only screen and (max-width: 730px) {
  .back-img-cont {
    height: 150px;
    font-size: 25px;
  }
  .members {
    grid-template-columns: 1fr;
    padding: 50px 5vw;
  }
  .member {
    height: auto;
  }
}
