.dash-row {
  border: none;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.dash-row:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.dash-img {
  height: 3em;
  margin-right: 20px;
}
.dash-name {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.link-divs{
  color:black;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .dash-first-row {
    grid-template-columns: 1.6fr 1fr 1fr;
  }
  .dash-row {
    grid-template-columns: 1.6fr 1fr 1fr;
    font-size: 15px;
  }
  .dash-img {
    height: 2em;
  }
}
