.edit-heading {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--violet);
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.edit-form {
  width: 500px;
  margin: auto;
  display: grid;
  padding: 50px 0px;
  position: relative;
}
.form-label {
  font-size: 13px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  height: 35px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0px 10px;
}
.change-p {
  height: 37px;
  width: 100px;
  transform: translateY(-52px);
  padding: 5px 10px;
  justify-self: flex-end;
  background: #444788;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
textarea {
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.show-upload {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-image: url("./images/clogo.jpg");
  position: relative;
  cursor: pointer;
  background-position: center;
  margin-left: 50px;
}
.upload-img {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 50%;
  width: 50%;
  margin: 25%;
  opacity: 0.7;
}
.file-inp {
  cursor: pointer;
}
.form-butts {
  margin: 30px auto;
  display: flex;
  position: absolute;
  bottom: -10px;
  left: 40%;
}
.form-butts a,
.form-butts button,
.form-butts input[type="submit"] {
  padding: 7px 20px;
  background-color: var(--violet);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
.cslug {
  margin-bottom: 0px !important;
}
.slug-feed {
  color: red;
  font-size: 12px;
  margin-bottom: 15px;
  display: none;
}
.mar-top {
  margin-top: 20px;
}
.c-pass-before {
  display: none;
}
@media (max-width: 600px) {
  .edit-form {
    width: auto;
  }
}
