:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --violet: #444788;
  --light-violet: rgba(59, 62, 121, 0.2);
  --red: red;
  --black: #161a1e;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oxygen", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
header {
  padding: 10px 10vw;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
header a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
.logo {
  height: 50px;
}
.navstuff {
  display: flex;
  grid-template-columns: repeat(7, auto);
  font-size: 14px;
  align-items: center;
}
.sup {
  background-color: #444788;
  padding: 7px 15px;
  display: grid;
  justify-content: center;
  margin-left: 15px;
  border-radius: 3px;
  color: white;
}
.main-heading {
  text-align: center;
  color: #444788;
  font-weight: 500;
  margin-top: 50px;
}
form {
  width: 400px;
  margin: auto;
  display: grid;
  /* justify-content: center; */
}
.text-inp {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid black;
  margin: 10px 0px;
  box-sizing: border-box;
}
.fp {
  justify-self: flex-end;
  margin: 3px 0px;
  font-size: 13px;
}
.cb {
  margin: 10px 0px;
}
.subm {
  background-color: #444788;
  border: none;
  padding: 13px;
  border-radius: 3px;
  color: white;
  width: 200px;
  margin: 20px auto;
  font-size: 18px;
}
.nom {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
}
.nom p {
  margin-right: 20px;
}
.nom a {
  color: black;
}
footer {
  width: 80%;
  margin: auto;
  padding: 20px 0px;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
}
footer p {
  margin: 15px;
}
footer h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .ql a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
footer div img {
  height: 30px;
  margin-right: 20px;
}
footer .logo {
  margin-top: 20px;
}
.ham {
  display: none;
  height: 30px;
  justify-self: flex-end;
}
.side {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: -100%;
  background-color: white;
  padding: 20px;
  transition: 0.3s;
  z-index: 5;
}
.side button {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}
.side-links {
  display: grid;
  row-gap: 20px;
  font-size: 16px;
  padding-top: 30px;
  opacity: 1;
}
.side-links a {
  color: black;
  text-decoration: none;
}

.close-svg {
  height: 1em;
  margin-right: 10px;
}
.text-inp-cont {
  position: relative;
}
.feed-text {
  position: absolute;
  font-size: 13px;
  padding: 0px 5px;
  box-sizing: border-box;
  top: 87%;
  left: 0px;
  color: red;
  height: 20px;
  width: 100%;
}
.feed-text-error {
  color: red;
  text-align: center;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #444788;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 20px auto;
}
@media only screen and (max-width: 1000px) {
  form {
    width: 500px !important;
  }
  footer {
    width: auto;
    padding: 20px 5%;
    /* width: 100%; */
    grid-template-columns: 1fr;
    text-align: start;
  }
  .cu {
    margin-top: 15px;
  }
  .ql {
    margin-bottom: 15px;
  }
  .ql a {
    margin-left: 15px;
  }
  .socials {
    padding-left: 15px;
  }
  .navstuff {
    display: none;
  }
  .ham {
    display: block;
  }
  .sup {
    background-color: #444788;
    padding: 7px 15px;
    display: grid;
    justify-content: center;
    margin-left: 0px;
    border-radius: 3px;
    color: white !important;
  }
  header a {
    margin-left: 0px;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding: 10px 5vw;
  }
  form {
    width: 300px !important;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
