<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard | CLIK India</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./adminPanel.css" />
  </head>
  <script>

        const token = sessionStorage.getItem('adminToken');
        console.log(token)
        if (token && token != 'undefined') {
          const myHeaders = new Headers();
          myHeaders.append('Authorization', `Bearer ${token}`);

          const raw = '';

          const requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow',
          };
          fetch('/admin/verify', requestOptions)
            .then((response) => response.json())
            .then((result) => {
              if(result.valid){
                console.log(result)
              }
              else{
                window.location = '/admin/login';
              }
            })
            .catch((error) => console.log('error', error));
        } else {
          window.location = '/admin/login';
        }

        

  </script>
  <body>
    <header class="side-header">
      <div class="header-title">
        ADMIN
      </div>
      <div class="header-opt">
        <div class="option" onclick='window.location.href = "https:\/\/www.newclikindia.co.in/services"'>
          Services
        </div>
        <div class="option" onclick='window.location.href = "https:\/\/www.newclikindia.co.in/about-us"'>
          About Us
        </div>
        <div class="option" onclick='window.location.href = "https:\/\/www.newclikindia.co.in/contact-us"'>
          Contact Us
        </div>
        <div class="option" onclick='window.location.href = "https:\/\/www.newclikindia.co.in/community"'>
          Forum
        </div>
        <div class="option cp-button">
          Change Password
        </div>
        <div class="option" onclick='window.location.href = "/"'>
          Logout
        </div>
      </div>
      <div class="header-footer">
        &#169; 2020 CLIK | Powered By: CLIK.
      </div>
    </header>
    <div class="header-container">
      <link
href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:wght@400;500;600&display=swap"
rel="stylesheet"
/>
<div class="side">
  <button class="close-side">
    <img src="./images/close.svg" alt="close" class="close-svg" /> CLOSE MENU
  </button>
  <div class="side-links">
    <a href="https://www.newclikindia.co.in">Home</a>
    <a href="https://www.newclikindia.co.in/services">Services</a>
    <a href="https://www.newclikindia.co.in/community">Forum</a>
    <a href="https://www.newclikindia.co.in/members">Members</a>
    <a href="https://www.newclikindia.co.in/about-us">About Us</a>
    <a href="https://www.newclikindia.co.in/contact-us">Contact Us</a>
    <a class="cp-header-link">Change Password</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
</div>
<header>
  <a href="https://www.newclikindia.co.in">
    <img src="./images/CLIK.png" alt="CLIK" class="logo" />
  </a>
  <div class="navstuff">
    <a href="https://www.newclikindia.co.in">Home</a>
    <a href="https://www.newclikindia.co.in/services">Services</a>
    <a href="https://www.newclikindia.co.in/community">Forum</a>
    <a href="https://www.newclikindia.co.in/members">Members</a>
    <a href="https://www.newclikindia.co.in/ec-team-details">About Us</a>
    <a href="https://www.newclikindia.co.in/contact-us">Contact Us</a>
    <a class="cp-header-link-2">Change Password</a>
    <% if(logout){ %>
    <a href="/" class="sup">Logout</a>
    <% } %>
  </div>
  <img src="./images/open-menu.svg" alt="menu" class="ham" />
</header>

    </div>

    <div class="new-entry-modal-cont">
      <div class="new-entry-modal">
        <img src="/images/cross.svg" alt="cross" class="new-entry-cross">
        <h2 class="new-entry-heading">NEW ENTRY</h2>
        <!-- <form class="new-entry-form">
          <input type="text" class="cn" placeholder="Company Name" required/>
          <input type="text" class="pn" placeholder="Phone Number" required/>
          <input type="email" class="em" placeholder="Email" required/>
          <input type="password" class="pa" placeholder="Password" required/>
          <input
            type="text"
            class="sl"
            placeholder="Slug  (clikindia.co.in/member/[slug])"
            required
          />
          <div class="slug-feed">This Slug already exists</div>
          <input  class="new-entry-submit" type="submit"/>
        </form> -->
        <form class="new-entry-form">
          <div class="text-inp-cont ">
            <label class="name-l field-label">Company Name</label>
            <input class="text-inp cn" type="text" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont ">
            <label class="phone-l field-label">Phone Number</label>
            <input class="text-inp pn" type="text" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont ">
            <label class="email-l field-label">Email</label>
            <input class="text-inp em" type="email" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont ">
            <label class="pass-l field-label">Password</label>
            <input class="text-inp pa" type="password" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont slug-inp-cont">
            <label class="slug-l field-label">Slug (clikindia.co.in/member/[slug])</label>
            <input class="text-inp sl" type="text" required />
            <div class="feed-text"></div>
          </div>
          <div class="feed-text-error"></div>
  
          <input class="subm new-entry-submit" type="submit"/>
        </form>
      </div>
    </div>
    <div class="change-p-modal-cont">
      <div class="change-p-modal">
        <img src="/images/cross.svg" alt="cross" class="change-p-cross">
        <h2 class="change-p-heading">CHANGE PASSWORD</h2>
        <form class="change-p-form">
          <div class="text-inp-cont curp-cont">
            <label class="cpassword-l field-label">Current Password</label>
            <input class="text-inp curp" type="password" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont ">
            <label class="npassword-l field-label">New Password</label>
            <input class="text-inp newp" type="password" required />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont confp-cont">
            <label class="ncpassword-l field-label">Confirm Password</label>
            <input class="text-inp confp" type="password" required />
            <div class="feed-text"></div>
          </div>
          <div class="feed-text-error"></div>
  
          <input class="subm change-p-submit" type="submit"/>
        </form>
      </div>
    </div>
    <div class="content">
      <div class="title-bar">
        <div class="logo big-logo">
          <img src="./images/logo.png" alt="logo" onclick='window.location.href = "https:\/\/www.newclikindia.co.in"'/>
        </div>
        <div class="title">
          DASHBOARD
        </div>
      </div>
      <div class="flex-container-main">
        <div class="first-header">
          <div class="patch"></div>
          <div class="subtitle">Entries</div>
        </div>

        <div class="last-header">
          <button class="add-btn">
            <img src="./images/plus.png" alt="plus" /> New Entry
          </button>
        </div>
      </div>

      <div class="small-title">
        <div class="one">Name</div>
        <div class="two">Location</div>
        <div class="three">Email</div>
      </div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="newContent">
      </div>
      </div>
    </div>
    <div class="footer-container">
      <%- include('../partials/footer') %>
    </div>
    <script src="index.js"></script>
    <script src="adminPanel.js"></script>
  </body>
</html>
