<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard - CLIK India</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./adminPanel.css" />
  </head>
  <body>
    <header>
      <div class="header-title">
        ADMIN
      </div>
      <div class="header-opt">
        <div class="option">
          Services
        </div>
        <div class="option">
          About Us
        </div>
        <div class="option">
          Events
        </div>
        <div class="option">
          Contact Us
        </div>
        <div class="option">
          Forum
        </div>
      </div>
      <div class="header-footer">
        &#169; 2020 CLIK | Powered By: CLIK.
      </div>
    </header>
    <div class="new-entry-modal-cont">
      <div class="new-entry-modal">
        <div class="new-entry-cross">x</div>
        <h2 class="new-entry-heading">New Entry</h2>
        <form class="new-entry-form">
          <input type="text" class="cn" placeholder="Company Name" />
          <input type="text" class="nm" placeholder="Name" />
          <input type="text" class="ln" placeholder="Location" />
          <input type="text" class="sl" placeholder="Slug  (clikindia.co.in/member/[slug])" />
          <input type="text" class="as" placeholder="Active Since" />
          <input type="text" class="em" placeholder="Email" />
          <input type="submit" class="new-entry-submit" value="Publish" />
        </form>
      </div>
    </div>
    <div class="content">
      <div class="title-bar">
        <div class="logo">
          <img src="./images/logo.png" alt="logo" />
        </div>
        <div class="title">
          DASHBOARD
        </div>
      </div>
      <div class="flex-container-main">
        <div class="first-header">
          <div class="patch"></div>
          <div class="subtitle">Entries</div>
        </div>

        <div class="last-header">
          <div class="edit-btn">Edit</div>
          <div class="add-btn">
            <img src="./images/plus.png" alt="plus" /> New Entry
          </div>
        </div>
      </div>

      <div class="small-title">
        <div class="one">Name</div>
        <div class="two">Location</div>
        <div class="three">Email</div>
      </div>

      <div class="firm-row">
        <div class="one">John Doe Power Solutions</div>
        <div class="two">Bengaluru</div>
        <div class="three">john@gmail.com</div>
      </div>
      <div class="firm-row">
        <div class="one">John Doe Power Solutions</div>
        <div class="two">Bengaluru</div>
        <div class="three">2005</div>
      </div>
      <div class="firm-row">
        <div class="one">John Doe Power Solutions</div>
        <div class="two">Bengaluru</div>
        <div class="three">2005</div>
      </div>
      <div class="firm-row">
        <div class="one">John Doe Power Solutions</div>
        <div class="two">Bengaluru</div>
        <div class="three">2005</div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script src="index.js"></script>
    <script src="adminPanel.js"></script>
  </body>
</html>
