<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard - CLIK India</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./adminPanel.css" />
  </head>
  <script>

        const token = sessionStorage.getItem('adminToken');
        console.log(token)
        if (token && token != 'undefined') {
          const myHeaders = new Headers();
          myHeaders.append('Authorization', `Bearer ${token}`);

          const raw = '';

          const requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow',
          };
          fetch('/admin/verify', requestOptions)
            .then((response) => response.json())
            .then((result) => {
              if(result.valid){
                console.log(result)
              }
              else{
                window.location = '/admin/login';
              }
            })
            .catch((error) => console.log('error', error));
        } else {
          window.location = '/admin/login';
        }

        

  </script>
  <body>
    <header class="side-header">
      <div class="header-title">
        ADMIN
      </div>
      <div class="header-opt">
        <div class="option">
          Services
        </div>
        <div class="option">
          About Us
        </div>
        <div class="option">
          Events
        </div>
        <div class="option">
          Contact Us
        </div>
        <div class="option">
          Forum
        </div>
      </div>
      <div class="header-footer">
        &#169; 2020 CLIK | Powered By: CLIK.
      </div>
    </header>
    <div class="header-container">
      <%- include('../partials/header') %>
    </div>

    <div class="new-entry-modal-cont">
      <div class="new-entry-modal">
        <div class="new-entry-cross">x</div>
        <h2 class="new-entry-heading">New Entry</h2>
        <form class="new-entry-form">
          <input type="text" class="cn" placeholder="Company Name" required/>
          <input type="text" class="pn" placeholder="Phone Number" required/>
          <input type="email" class="em" placeholder="Email" required/>
          <input type="password" class="pa" placeholder="Password" required/>
          <input
            type="text"
            class="sl"
            placeholder="Slug  (clikindia.co.in/member/[slug])"
            required
          />
          <div class="slug-feed">This Slug already exists</div>
          <input  class="new-entry-submit" type="submit"/>
        </form>
      </div>
    </div>
    <div class="content">
      <div class="title-bar">
        <div class="logo big-logo">
          <img src="./images/logo.png" alt="logo" />
        </div>
        <div class="title">
          DASHBOARD
        </div>
      </div>
      <div class="flex-container-main">
        <div class="first-header">
          <div class="patch"></div>
          <div class="subtitle">Entries</div>
        </div>

        <div class="last-header">
          <button class="add-btn">
            <img src="./images/plus.png" alt="plus" /> New Entry
          </button>
        </div>
      </div>

      <div class="small-title">
        <div class="one">Name</div>
        <div class="two">Location</div>
        <div class="three">Email</div>
      </div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="newContent">
      </div>
      </div>
    </div>
    <div class="footer-container">
      <%- include('../partials/footer') %>
    </div>
    <script src="index.js"></script>
    <script src="adminPanel.js"></script>
  </body>
</html>
