<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./dashboard.css" />
    <title>Document</title>
  </head>
  <script>
    let token = sessionStorage.getItem("adminToken");
    console.log(token);
    if (!token) {
      window.location = "/admin/login";
    }
  </script>
  <body>
    <%- include('../partials/header') %>
    <div class="new-entry-modal-cont">
      <div class="new-entry-modal">
        <div class="new-entry-cross">x</div>
        <h2 class="new-entry-heading">New Entry</h2>
        <form class="new-entry-form">
          <input type="text" class="cn" placeholder="Company Name" />
          <input type="text" class="nm" placeholder="Name" />
          <input type="text" class="ln" placeholder="Location" />
          <input type="text" class="sl" placeholder="Slug" />
          <input type="text" class="as" placeholder="Active Since" />
          <input type="text" class="em" placeholder="Email" />
          <input type="submit" class="new-entry-submit" value="Post" />
        </form>
      </div>
    </div>
    <main>
      <h1 class="main-heading">DASHBOARD</h1>
      <div class="container">
        <div class="renbutt">
          <h2 class="recent">Recent Entries</h2>
          <div class="new-entry-cont">
            <a class="new-entry" href="/admin/register">+ New Entry</a>
          </div>
        </div>
        <div class="dash-table">
          <div class="dash-first-row">
            <div class="dash-name">Name</div>
            <div class="dash-loc">Location</div>
            <!-- <div class="dash-loc">Active Since</div> -->
            <div></div>
          </div>
          <div class="loader"></div>
         
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="./index.js"></script>
    <script src="./dashboard.js"></script>
    <script>
      let options = {
        method: "GET",
      };
      let dataContainer = document.querySelector(".dash-table");
      fetch("/member/all")
        .then((res) => res.json())
        .then((data) => {
          document.querySelector(".loader").style.display = "none";
          data.map((member) => {
            dataContainer.innerHTML += `
            <div class="dash-row link-div" onclick="window.location='/page/${member.slug}';">
              <div class="dash-name">${member.title}</div>
              <div class="dash-loc">${member.location}</div>
              <div class="dash-edit-cont">
                <a class="dash-edit">
                  
                    <img src="./images/delete.svg" alt="edit" class="dash-edit-img" />
                  
                </a>
              </div>
            </div>
                      `;
            console.log(member);
          });
          console.log(dataContainer);
        });
    </script>
  </body>
</html>
