<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <h1 class="main-heading">Welcome Back</h1>
      <form>
        <div class="text-inp-cont e-text">
          <input class="text-inp" type="email" placeholder="Email" required />
          <div class="feed-text"></div>
        </div>
        <div class="text-inp-cont p-text">
          <input type="text" class="text-inp" placeholder="Password" />
          <div class="feed-text"></div>
        </div>
        <p class="fp">Forgot Password?</p>
        <div class="cb">
          <input type="checkbox" />
          <label>Keep me signed in</label>
        </div>
        <input class="subm" type="submit" value="Sign in" />
        <div class="nom">
          <p>Not a member?</p>
          <a href="/register.html">Register</a>
        </div>
      </form>
    </main>
    <script src="login.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
