<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./dashboard.css" />
    <link rel="stylesheet" href="./members.css" />
    <title>Members | CLIK India</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main>
      <div class="back-img-cont">
        <!-- <div class="back-img"> -->
        <h1 class="back-img-heading">MEMBERS</h1>
        <div class="underline"></div>
        <!-- </div> -->
      </div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="members"></div>
    </main>
    <%- include('../partials/footer') %>
    <script>
      let options = {
        method: "GET",
      };
      let dataContainer = document.querySelector(".members");
      fetch("/member/all")
        .then((res) => res.json())
        .then((data) => {
          document.querySelector(".spinner").style.display = "none";
          data.map((member, index) => {
            console.log(index + member.image);
            dataContainer.innerHTML += ` <div class="link-divs" > <div class="member">
          <img src="${member.image}" alt="product" class="member-img" onclick='window.location.href = "/page/${
              member.slug
            }";'/>
          <div class="member-info">
            <h2 class="member-heading" onclick='window.location.href = "/page/${
              member.slug
            }";'>${member.title}</h2>
            <p class="member-loc" onclick='window.location.href = "/page/${
              member.slug
            }";'>
              <img src="./images/pin-black.svg" alt="pin" class="pin b" onclick='window.location.href = "/page/${
                member.slug
              }";'/>
              <img src="./images/pin.svg" alt="pin" class="pin w" onclick='window.location.href = "/page/${
                member.slug
              }";'/>
              ${member.location}
            </p>
            <p class="member-desc" onclick='window.location.href = "/page/${
              member.slug
            }";'>
              ${member.tagline}
            </p>
            <div class="member-buttons">
              <button class="member-vp" onclick='window.location.href = "/page/${
                member.slug
              }";'>View Profile</button>
              <button class="member-cu" onclick="window.location.href = '/page/${
                member.slug
              }#contact'">Contact</button>
            </div>
          </div>
        </div> </div>`;
            console.log(member);
          });
          console.log(dataContainer);
        });
    </script>
    <script src="./index.js"></script>
  </body>
</html>
