<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./dashboard.css" />
    <link rel="stylesheet" href="./member.css" />
    <title>Document</title>
  </head>
  <body>
    <style>
      .none{
        display: none;
      }
    </style>
    <script>
      function ChangeData(data) {
        if (data.status == 200) {
          let { content, bEmail, bPhone, website, title, location,image,products } = data.data;
          document.querySelector(".info-name").innerHTML = title;
        // document.querySelector(".slug").value = slug;
        // document.querySelector(".slug").setAttribute("data-dslug", slug);
        document.querySelector(".location").innerHTML = `<img class="company-loc-img" src="./images/pin.svg" alt="pin">${location}`;
        document.querySelector(".mail").href = `mailto:${bEmail}`;
        document.querySelector(".mail").innerHTML = `<img class="contact-info-img" src="./images/email.svg" alt="phone">${bEmail}`;
        document.querySelector(".website").innerHTML = `<img class="contact-info-img" src="./images/internet.svg" alt="phone">${website}`;
        document.querySelector(".phone").innerHTML = `<img class="contact-info-img" src="./images/phone.svg" alt="phone">${bPhone}`;
        document.querySelector(".website").href = website;
        document.querySelector(".phone").href = `tel:+${bPhone}`;
        document.querySelector(".about-text").innerHTML = content;
        document.querySelector(".contact-address").innerHTML = location;
        document.querySelector(".company-logo-img").src = `${image.split('\\')[1]}/${image.split('\\')[2]}`;
        
        // let a = products.reduce((acc,data,index)=>{
        //   acc += `<div class="product">
        //   <img class="product-img opac" src="${data.image}" alt="product">
        //   <div class="hnp opac">
        //     <h3 class="product-heading">${data.name}</h3>
        //     <p class="product-price">&#8377; ${data.price} </p>
        //   </div>
        //   <img src="/images/delete.svg" alt="delete" class="delete-svg"/>
        // </div>  `;
        // console.log(data.name)
        // },' ');  
        // console.log(a);
        if(products.length!==0){
          products.forEach((data)=>{
            let a=  `<div class="product">
              <img class="product-img " src="${data.image}" alt="product">
              <div class="hnp ">
                <h3 class="product-heading">${data.name}</h3>
                <p class="product-price">${!!data.price?'&#8377;':''} ${(!data.price?'Contact Us':data.price)} </p>
                <p class="product-desc">${data.desc?data.desc:''}</p>
                </div>
                </div> `
                document.querySelector('.products').innerHTML += a;
              })
            }else{
              document.querySelector('.products').innerHTML +=`
              <div class="noProducts">
                <img src="/images/noProducts.svg" alt="np" class="noProd-img"/>
                <h3 class="np-heading">No Products Found</h3>
                <p class="np-text">*The company has not listed any products on the website</p>
              </div>
              `;

            }

        } else {
          window.location = "/404";
        }
      }

      var obj = {
        slug: "<%=slug%>",
      };

      var requestOptions = {
        method: "POST",
        body: JSON.stringify(obj),
        headers: {
          "Content-Type": "application/json",
        },
      };

      fetch("/page/details", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          document.querySelector(".spinner").style.display = "none";
          ChangeData(result);
        })
        .catch((error) => console.log("error", error));
    </script>

    <%- include('../partials/header') %>
    <div class="new-entry-modal-cont">
      <div class="new-entry-modal">
        <div class="new-entry-cross">x</div>
        <h2 class="new-entry-heading">New Entry</h2>
        <form name="addProduct" onsubmit="slugUnique(event,this)" class="new-entry-form">
          <input type="file" name="file" id="file" class="inputfile" accept=".jpeg,.jpg,.png,.svg" required/>
          <label for="file"><svg width="65" height="44" viewBox="0 0 65 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="upload-svg">
            <path d="M52.4062 16.61C50.5646 7.1225 42.3583 0 32.5 0C24.6729 0 17.875 4.51 14.4896 11.11C6.3375 11.99 0 19.0025 0 27.5C0 36.6025 7.28542 44 16.25 44H51.4583C58.9333 44 65 37.84 65 30.25C65 22.99 59.4479 17.105 52.4062 16.61ZM37.9167 24.75V35.75H27.0833V24.75H18.9583L32.5 11L46.0417 24.75H37.9167Z" fill="white"/>
            </svg> Choose Product Image</label>
          <input type="text" name="token" class="none">  
          <input type="text" class="pn" placeholder="Product Name" required/> 
          <input type="text" class="pp" placeholder="Product Price (optional)" />
          <input type="submit" class="new-entry-submit" value="Add" />
        </form>
      </div>
    </div>
    <main>
      <div class="inner-nav">
          <div class="company-logo"><img src="./images/ph.png" alt="logo" id="img-main" class="company-logo-img"></div>
          <div class="company-info"> 
              <div class="company-name-loc">
                  <h1 class="company-name info-name"></h2>
                  <p class="company-loc location"><img class="company-loc-img" src="./images/pin.svg" alt="pin"> Mathikere, Bengaluru</p>
              </div>
              <div class="company-nav">
                  <button class="company-nav-button btn-abt">About</button>
                  <button class="company-nav-button btn-pro">Products</button>
                  <button class="company-nav-button btn-con">Contact</button>
              </div>
          </div>
      </div>
      <div class="edit-feedback">
          <div class="edit-feed-text">
              Edit Complete
          </div>
      </div>
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="about">
          <p class="about-text"></p>
      </div>
      <div class="products">
       
        
      </div>
    </div>
      <div class="contact">
          <div class="contact-phone">
            <div class="contact-svg">
              <svg  width="120" height="123" viewBox="0 0 120 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.7" d="M113.4 84.5967C105.2 84.5967 97.2667 83.23 89.8667 80.77C87.5333 79.95 84.9333 80.565 83.1333 82.41L72.6667 95.8717C53.8 86.6467 36.1333 69.2217 26.7333 49.2L39.7333 37.8567C41.5333 35.9433 42.0667 33.2783 41.3333 30.8867C38.8667 23.3017 37.6 15.17 37.6 6.765C37.6 3.075 34.6 0 31 0H7.93333C4.33333 0 0 1.64 0 6.765C0 70.2467 51.5333 123 113.4 123C118.133 123 120 118.695 120 114.937V91.3617C120 87.6717 117 84.5967 113.4 84.5967Z" fill="black"/>
                </svg>
                
            </div>
            <div class="contact-stuff">
              <div class="contact-verb">Call</div>
              <div class="contact-value">+91 99889 99988</div>
            </div>
          </div>
          <div class="contact-address">
            <div class="contact-svg">
              <svg width="81" height="115" viewBox="0 0 81 115" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.7" d="M40.5 0C18.1093 0 0 17.9975 0 40.25C0 70.4375 40.5 115 40.5 115C40.5 115 81 70.4375 81 40.25C81 17.9975 62.8907 0 40.5 0ZM40.5 54.625C32.5157 54.625 26.0357 48.185 26.0357 40.25C26.0357 32.315 32.5157 25.875 40.5 25.875C48.4843 25.875 54.9643 32.315 54.9643 40.25C54.9643 48.185 48.4843 54.625 40.5 54.625Z" fill="black"/>
                </svg>
                
                
            </div>
            <div class="contact-email">
              <div class="contact-verb">Locate</div>
              <div class="contact-value">#10, Main Road, Mathikere, Bengaluru</div>
            </div>
          </div>
          <div class="contact-phone">
            <div class="contact-svg">
              <svg  width="120" height="123" viewBox="0 0 120 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.7" d="M113.4 84.5967C105.2 84.5967 97.2667 83.23 89.8667 80.77C87.5333 79.95 84.9333 80.565 83.1333 82.41L72.6667 95.8717C53.8 86.6467 36.1333 69.2217 26.7333 49.2L39.7333 37.8567C41.5333 35.9433 42.0667 33.2783 41.3333 30.8867C38.8667 23.3017 37.6 15.17 37.6 6.765C37.6 3.075 34.6 0 31 0H7.93333C4.33333 0 0 1.64 0 6.765C0 70.2467 51.5333 123 113.4 123C118.133 123 120 118.695 120 114.937V91.3617C120 87.6717 117 84.5967 113.4 84.5967Z" fill="black"/>
                </svg>
                
            </div>
            <div class="contact-website">
              <div class="contact-verb">Email</div>
              <div class="contact-value">johndoe@gmail.com </div>
            </div>
          </div>
          <div class="contact-phone">
            <div class="contact-svg">
              <svg  width="120" height="123" viewBox="0 0 120 123" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.7" d="M113.4 84.5967C105.2 84.5967 97.2667 83.23 89.8667 80.77C87.5333 79.95 84.9333 80.565 83.1333 82.41L72.6667 95.8717C53.8 86.6467 36.1333 69.2217 26.7333 49.2L39.7333 37.8567C41.5333 35.9433 42.0667 33.2783 41.3333 30.8867C38.8667 23.3017 37.6 15.17 37.6 6.765C37.6 3.075 34.6 0 31 0H7.93333C4.33333 0 0 1.64 0 6.765C0 70.2467 51.5333 123 113.4 123C118.133 123 120 118.695 120 114.937V91.3617C120 87.6717 117 84.5967 113.4 84.5967Z" fill="black"/>
                </svg>
                
            </div>
            <div class="contact-stuff">
              <div class="contact-verb">Visit</div>
              <div class="contact-value">www.johndoe.com</div>
            </div>
          </div>
      </div>
  </main>
    <%- include('../partials/footer') %>
    <script src="./memberDisplay.js"></script>
    <script src="./index.js"></script>
  </body>
</html>
