<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./dashboard.css" />
    <link rel="stylesheet" href="./member.css" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function ChangeData(data){
        if(data.status==200){
              let { content, bEmail, bPhone, website, title, location } = data.data;
              document.querySelector(".info-name").innerHTML = title;
              document.querySelector(".location").innerHTML = location;
              document.querySelector(".mail").href = `mailto:${bEmail}`;
              document.querySelector(".web").href = website;
              document.querySelector(".phone").href =  `tel:+${bPhone}`;
              document.querySelector(".info-actual-text").innerHTML = content;
          }
          else {
            window.location = "/404";
          }
      }

      var obj = {
        slug: "<%=slug%>",
      };

      var requestOptions = {
        method: "POST",
        body: JSON.stringify(obj),
        headers: {
          "Content-Type": "application/json",
        },
      };

      fetch("/page/details", requestOptions)
        .then((response) => response.json())
        .then((result) => {
          ChangeData(result);
        })
        .catch((error) => console.log("error", error));
    </script>

    <%- include('../partials/header') %>
    <main>
      <h1 class="main-heading">MEMBERS</h1>
      <div class="container">
        <div class="info">
          <div class="info-img">
            <img src="./images/company.jpg" alt="company" />
            <div class="show-upload">
              <img src="./images/upload.svg" alt="upload" />
              Change Image
            </div>
          </div>
          <div class="info-text-1">
            <div class="namenicon">
              <h2 class="info-name"></h2>
              <a class="web" href="#">
                <img
                  src="./images/internet.svg"
                  alt="internet"
                  class="info-icons"
                />
              </a>
              <a class="phone" href="#">
                <img
                  src="./images/phone.svg"
                  alt="internet"
                  class="info-icons"
                />
              </a>
              <a class="mail" href="#">
                <img
                  src="./images/email.svg"
                  alt="internet"
                  class="info-icons"
                />
              </a>
            </div>
            <img src="./images/pin.svg" alt="pin" class="pin-icon" />
            <p class="location">Mathikere, Bengaluru</p>
            <div class="sep"></div>
            <div class="info-actual-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              mattis lorem eu ante mollis, id tristique mauris cursus. Nam
              commodo, felis quis euismod vestibulum, lectus diam mollis lacus,
              fermentum tincidunt neque ante id purus. Nulla tellus lorem,
              rutrum id commodo sollicitudin, commodo id odio. Mauris lobortis
              lectus vitae tortor iaculis, a luctus felis efficitur. Aenean non
              ultrices ligula. Vivamus ipsum velit, rhoncus in malesuada non,
              semper in massa. <br /><br />
              Pellentesque aliquam nibh eget ullamcorper mollis. Aenean nisi
              nulla, sollicitudin eget dui sit amet, pretium semper nulla.
              Quisque risus purus, laoreet vel magna lobortis, finibus accumsan
              magna. Sed at felis posuere, tincidunt augue a, venenatis eros.
              Cras interdum pulvinar nunc ac bibendum. Nam tristique non neque
              eu facilisis. Vivamus sit amet elit vitae nulla posuere egestas.
              Integer rutrum vestibulum nibh.
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="./index.js"></script>
  </body>
</html>
