<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./register.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <script>
        let token = sessionStorage.getItem("adminToken");
        if (!token) {
          window.location = "/admin/login";
        }
      </script>
      <h1 class="main-heading">Create Account</h1>
      <form>
        <div class="inps">
          <div class="text-inp-cont em-text">
            <input
              name="email"
              class="text-inp text-inp-email"
              type="email"
              placeholder="Email"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont bn-text">
            <input
              name="buisnessName"
              type="text"
              class="text-inp text-inp-bname"
              placeholder="Company"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont n-text">
            <input
              name="name"
              type="text"
              class="text-inp text-inp-name"
              placeholder="Full Name"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont ph-text">
            <input
              name="phone"
              type="text"
              class="text-inp-phone text-inp"
              placeholder="Phone Number"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont p-text">
            <input
              name="password"
              type="password"
              class="text-inp-password text-inp"
              placeholder="Password"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont cp-text">
            <input
              name="cpassword"
              type="password"
              class="text-inp-cpassword text-inp"
              placeholder="Confirm Password"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="text-inp-cont sl-text">
            <input
              name="slug"
              type="text"
              class="text-inp-route text-inp"
              placeholder="Enter the Route"
              required
            />
            <div class="feed-text"></div>
          </div>
          <div class="slug-message">
            Ex: member.clikindia.co.in/member/route_name
          </div>
          <% if(isError) {%>
          <div class="error-message">
            <%= error %>
          </div>
          <% } %>
        </div>
        <input class="subm" type="submit" value="Register" />
        <div class="nom">
          <p>Already have an account?</p>
          <a href="/index.html">Sign In</a>
        </div>
      </form>
    </main>
    <%- include('../partials/footer') %>
    <script src="./register.js"></script>
    <!-- <script src="./index.js"></script> -->
  </body>
</html>
